.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: -45%;
}

.helper-text{
  text-align: left;
  font-size: 10px !important;
  color: red !important;
}

select{
  display: inline-block;
  border: 1px solid #cccccc;
}

input{
  display: block !important
}

form{
  max-width: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form button{
  width: 80px;
  margin: 0 auto;
}